﻿@model ChurchPlannerApp.Models.Service
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Edit Profile";
}

<h1 class="text-center">Edit a Service</h1>
<form asp-controller="ServicePlan" asp-action="EditService" method="post">
    <div class="form-group center-block">
        <input asp-for="ServiceID" type="hidden" />

        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" /><br />

        <label asp-for="ServiceDate">Service Date:</label>
        <input asp-for="ServiceDate" class="form-control" /><br />

        <label asp-for="PracticeDate">Practice Date:</label>
        <input asp-for="PracticeDate" class="form-control" /><br />


        <button type="submit" class="btn btn-primary pull-right">Update Service</button>
    </div>
</form>