@model List<ChurchPlannerApp.Models.ServiceRequest>
@{
    ViewBag.Title = "Requests";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            @foreach (var r in Model)
            {
                <div class="center-block">
                    <p>

                    </p>
                </div>
            }
        </div>
    </div>
</div>