@model List<ChurchPlannerApp.Models.Message>
@{
    ViewBag.Title = "Forum";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            @foreach (var m in Model)
            {
                <div class="messages center-block">
                    <p class="created_post">@m.Body </p>

                    <p class="postInfo pull-right">
                        @m.From.FName @m.From.LName <i>@m.Date.ToString("d")</i>
                    </p>
                </div>
            }
        </div>
    </div>
</div>