@model List<ChurchPlannerApp.Models.Profile>
@{
    ViewBag.Title = "Members";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="@Url.Action("AddProfile", "Profile")" class="btn btn-success center-block" style="margin-top:30px;">
                Create a Profile
            </a>
            @foreach (var p in Model)
            {
                <div class="center-block">
                    <ul>
                        <li>First Name: @p.FName</li>
                        <li>Last Name: @p.LName</li>
 


                    </ul>

                </div>
            }
        </div>
    </div>
</div>